* {
    --gray-one: #36393F;
    --gray-two: #2F3136;
    --gray-three: #454950;
    --btn-careful-red: #DA4445;
    --btn-positive: #2D7D46;
    --btn-positive-hover: #215B32;
    --btn-blue: #5865F2;
    --btn-blue-hover: #5865F2;
  }